@cell-size: 3vh;
@text-color: #222;
@page-bg-color: #e0e0e0;
@lowlight-bg-color: #d0d0d0;
@highlight-bg-color: #c4c4c4;

body {
  font-family: "Playwrite NO", cursive;
  background-color: @page-bg-color;
  color: @text-color;
}

h2 {
  font-size: 1em;
}

.poems-list {
  padding: 0;

  .poem-entry {
    margin: 0.3em;
    padding: 0.3em;
    background-color: @lowlight-bg-color;
    display: block;

    &:hover {
      background-color: @highlight-bg-color;
      cursor: pointer;
    }

    a {
      color: @text-color;
      text-decoration: none;
      display: block;

      .poem-entry-title {
        font-size: 1.1em;
        font-weight: bold;
      }

      .poem-entry-date {
        font-size: 0.9em;
        font-style: italic;
      }
    }

  }


}

.poem {
  .stanza {
    margin-top: 1em;

    .line {
      margin: 0;

      &:first-child .first-letter {
        font-size: 1.4em;
        font-weight: bold;
      }
    }
  }
}

footer {
  font-weight: bold;
  padding-top: 2em;
}