@cell-size: 3vh;
@text-color: #222;
@page-bg-color: #e0e0e0;
@highlight-bg-color: #c4c4c4;

body {
  font-family: "Playwrite NO", cursive;
  background-color: @page-bg-color;
  color: @text-color;
}

.poem-entry:hover {
  background-color: @highlight-bg-color;
  cursor: pointer;
}

.poem-entry-title {
  font-size: 1.1em;
  font-weight: bold;
}

.poem-entry-date {
  font-size: 0.9em;
  font-style: italic;
}

a {
  color: @text-color;
  text-decoration: none;
}

.poem-text {
  white-space: pre-wrap;
}